.form {
  margin: 0 auto;

  max-width: 120rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  @include respond(phone) {
    flex-direction: column;
    gap: 3rem;
  }
  &__search {
    position: relative;
    width: 40%;
    @include respond(phone) {
      width: 100%;
      margin: 0 auto;
    }
  }
  &__input {
    border: none;
    outline: none;
    height: 4rem;
    background-color: $primary-light;
    padding-left: 4rem;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 2rem rgba($primary-dark, 0.3);

    &::placeholder {
      color: $gray-light;
    }
    @include respond(phone) {
      height: 6rem;
    }
  }
  &__btn {
    border: none;
    position: absolute;
    font-size: 2.4rem;
    background-color: transparent;
    left: 0.8rem;
    top: 0.7rem;
    cursor: pointer;
    @include respond(phone) {
      height: 6rem;
      top: 0.3rem;
    }
  }
  &__filter {
    @include respond(phone) {
      height: 6rem;
      width: 28rem;
      align-self: flex-start;
    }
  }

  select {
    border: none;
    outline: none;
    height: 4rem;
    background-color: $primary-light;
    border-radius: 8px;
    padding: 0 2rem;
    color: $gray-light;
    box-shadow: 0 0 2rem rgba($primary-dark, 0.3);
    @include respond(phone) {
      height: 6rem;
      align-self: flex-start;
      width: 28rem;
    }
  }
}

.country {
  color: $gray-light;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: $primary-light;
  box-shadow: 0 0 2rem rgba($primary-dark, 0.3);
  cursor: pointer;
  @include respond(phone) {
    width: 30rem;
    margin: 0 auto;
  }
  &__flag {
    margin-bottom: 2rem;
  }
  &__flag-img {
    width: 100%;
    height: 16rem;
  }
  p {
    font-weight: 600;
  }

  &__info {
    height: 18rem;
    padding-left: 2rem;
  }
  &__info-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  &__info-item {
    display: flex;
    gap: 1rem;
  }
}

.detail {
  max-width: 120rem;
  padding: 4rem 4rem;
  margin: 0 auto;
  color: $gray-light;
  align-items: center;
  gap: 4rem;
  p {
    font-weight: 600;
  }
  &__img {
    width: 100%;
    height: auto;
  }

  &__btn {
    display: block;
    border: none;
    padding: 0.8rem 3rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1.2rem;
    font-size: 1.4rem;
    background-color: $primary-light;
    font-weight: 600;
    color: rgba($gray-light, 0.75);
    box-shadow: 0 0 2rem rgba($primary-dark, 0.15);
    margin-bottom: 4rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.02);
      background-color: $primary-color;
    }
  }
  &__preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    align-items: center;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }
  &__list {
    list-style: none;
    margin-bottom: 4rem;
    column-count: 2;
  }
  &__item {
    display: flex;
    gap: 1rem;
  }
  &__border {
    display: flex;
    gap: 1rem;
    p {
      margin-top: 0.2rem;
    }
  }
  &__border-btns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  &__border-btn {
    font-size: 1.3rem;
    border: none;
    display: inline-block;
    background-color: $primary-light;
    color: $gray-light;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    color: rgba($gray-light, 0.75);
    cursor: pointer;
    box-shadow: 0 0 2rem rgba($primary-dark, 0.2);
    transition: all 0.35s;
    &:hover {
      background-color: $primary-color;
    }
  }
}

.night-mode .form__input,
.night-mode .header,
.night-mode .header__btn,
.night-mode .form,
.night-mode .heading-1,
.night-mode .form select,
.night-mode .form__input::placeholder,
.night-mode .country,
.night-mode .detail,
.night-mode .detail__btn,
.night-mode .detail__border-btn {
  color: $primary-dark !important;
  background-color: $gray-light !important;
}
