.header {
  margin: 0 auto;
  color: $gray-light;
  padding: 0 3rem;
  height: 8rem;
  background-color: $primary-light;
  width: 100vw;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2rem rgba($primary-dark, 0.3);
  margin-bottom: 2rem;

  &__container {
    margin: 0 auto;
    width: 120rem;
    padding: 2rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    font-size: 1.6rem;
    padding: 0 0.5rem;
    display: flex;
    border: none;
    height: 2.8rem;
    align-items: center;
    gap: 0.8rem;
    border-radius: 5px;
    background-color: inherit;
    font-weight: 600;
    color: inherit;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
    }
  }
}

.container {
  max-width: 120rem;
  padding: 2rem 4rem;
  margin: 0 auto;
}
.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  row-gap: 4rem;
  @include respond(tab-land) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }
}
