.heading-1 {
  font-size: 3rem;
  font-weight: 800;
  color: $gray-light;
}
.heading-2 {
  font-size: 2.5rem;
  margin-bottom: 1.6rem;
}
.heading-3 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
