/**- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::after,
*::before {
  margin: 0%;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: 'Nunito Sans';
  background-color: #202c37; }

.heading-1 {
  font-size: 3rem;
  font-weight: 800;
  color: #d9d9d9; }

.heading-2 {
  font-size: 2.5rem;
  margin-bottom: 1.6rem; }

.form {
  margin: 0 auto;
  max-width: 120rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202c37; }
  .form__search {
    position: relative;
    width: 40%; }
  .form__input {
    border: none;
    outline: none;
    height: 4rem;
    background-color: #2b3945;
    padding-left: 4rem;
    width: 100%;
    border-radius: 8px; }
  .form__btn {
    border: none;
    position: absolute;
    font-size: 2.4rem;
    background-color: transparent;
    left: 0.8rem;
    top: 0.7rem; }
  .form select {
    border: none;
    outline: none;
    height: 4rem;
    background-color: #2b3945;
    border-radius: 8px; }

.country {
  color: #d9d9d9;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: #2b3945; }
  .country__flag {
    margin-bottom: 2rem; }
  .country p {
    font-weight: 600; }
  .country__info {
    height: 20rem;
    padding-left: 2rem; }
  .country__info-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem; }
  .country__info-item {
    display: flex;
    gap: 1rem; }

.header {
  margin: 0 auto;
  color: #d9d9d9;
  padding: 0 3rem;
  height: 8rem;
  background-color: #2b3945;
  width: 100vw;
  display: flex;
  align-items: center; }
  .header__container {
    margin: 0 auto;
    width: 120rem;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__btn {
    font-size: 1.6rem;
    padding: 0 0.5rem;
    display: flex;
    border: none;
    height: 2.8rem;
    align-items: center;
    gap: 0.8rem;
    border-radius: 5px;
    background-color: inherit;
    font-weight: 600;
    color: inherit;
    transition: all 0.3s; }
    .header__btn:hover {
      background-color: #202c37; }

.container {
  max-width: 120rem;
  padding: 2rem 4rem;
  margin: 0 auto; }

.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 4rem; }
